body{
    font-family: 'HarvestStory', sans-serif;
}
#tasks {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 5px;
}

span {
    cursor: pointer;
    margin-left: 10px;
    color: black;
}

@font-face {
    font-family: 'HarvestStory';
    src: url('./assets/HarvestStory.otf') format('truetype');
}